<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS3 - Nível 2</title>

    <!-- folha de estilos -->
    <link rel="stylesheet" href="estilos.css">

</head>
<body>
    
    <div>
        Texto dentro do div
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eos, sint quia, labore quasi, error corporis recusandae eveniet neque laboriosam mollitia deserunt reprehenderit aut dolor nobis pariatur odit sunt rerum!
    Culpa, suscipit sequi atque tempore possimus voluptatum, dolores ea dolorem mollitia assumenda voluptas in recusandae architecto rem id cumque nihil eos quaerat fugiat. Illum maxime libero maiores deleniti id doloremque.
    Eveniet reprehenderit voluptates architecto earum corporis voluptatibus eum asperiores cupiditate quaerat, accusantium et inventore laudantium natus quas quisquam, maxime deleniti soluta qui esse, amet vitae est similique odit? Quam, rerum.
    Laboriosam nisi repudiandae fuga. Laudantium tenetur doloremque nisi esse animi at fuga tempora, nobis, dolor mollitia enim quisquam, voluptate quasi non atque vitae repellendus iure magni obcaecati ratione cupiditate iusto.
    Voluptatum, explicabo iure optio eaque repudiandae aspernatur accusamus aperiam officiis assumenda vel amet tenetur quae nulla. Maiores voluptatum, omnis esse officia cupiditate fuga vero sunt corporis reiciendis id commodi fugit?
    Hic facere officiis voluptate ut autem vel ipsum officia a, placeat dolorem neque assumenda! Dolor dolores, blanditiis ea dolorem excepturi, non repudiandae ex perspiciatis doloremque enim necessitatibus voluptatem beatae quidem.
    At, voluptatum ducimus a porro doloremque eos, quos ea soluta iure vitae magnam reprehenderit sint quas. Aliquam odio totam ratione! Non, dolores ipsam vel sapiente assumenda veritatis. Facilis, quisquam deserunt?
    Quia suscipit at a iusto quos numquam inventore tenetur, excepturi explicabo perferendis aliquam cupiditate quisquam pariatur dolorem soluta eius sit illo quibusdam blanditiis ad? Explicabo reprehenderit nesciunt sit earum ullam.
    Atque, vel veniam? Minima, facere in. Repellat consectetur tempore sunt? Voluptate, dignissimos qui. Tenetur doloremque, autem quos aut odio exercitationem nostrum praesentium voluptatibus ex dicta, inventore suscipit veniam perspiciatis rem!
    Autem voluptatum iusto saepe nostrum enim consequuntur nisi hic molestiae fugit ab error atque quos quis asperiores maiores quibusdam assumenda optio, nam sequi repellat. Incidunt nulla veritatis neque quaerat est!
    Aliquam eos dolor voluptate, necessitatibus sed debitis sunt minus reiciendis assumenda numquam itaque magni, quam voluptatum vel voluptatibus hic eveniet incidunt corrupti veniam repellendus. Similique cum ex illo praesentium soluta?
    Repellendus nisi sint ab tempora deserunt sit id dicta, aliquam cumque porro! Delectus itaque ipsam hic minus sint neque totam quia iure autem odio voluptate, dolorem earum odit placeat temporibus.
    Beatae illum in error, vitae dolores nisi. Adipisci provident quidem in impedit quo, minus voluptatem eius, enim debitis cum ipsa. Odit molestias voluptates libero accusantium voluptatibus. Consequuntur aperiam laborum perspiciatis?
    Libero ducimus fugiat laudantium eaque repudiandae! Aut eos facilis officia soluta libero! Quas qui accusantium placeat eaque magni tempore, expedita nisi dolore iusto veritatis ex minima nam sunt suscipit explicabo.
    Corrupti sed consequatur assumenda nisi quasi illum atque voluptate ea maiores, laboriosam tenetur reprehenderit sequi veritatis nostrum ullam amet temporibus quae consequuntur mollitia accusantium nulla cupiditate. Maxime cupiditate magni laborum.
    Nisi aperiam tenetur reprehenderit soluta explicabo. Deleniti distinctio libero molestias quia, ducimus expedita laudantium, fugit minus ut soluta numquam eaque fuga cumque sapiente ipsam placeat unde a neque. Voluptates, odio?
    Blanditiis voluptatibus, saepe et deserunt quas, minus iusto vitae laudantium aliquam eveniet, eius itaque ipsa. Et laborum tenetur consequuntur, beatae similique, quaerat, rerum inventore molestiae at mollitia sunt. Maxime, sed.
    Atque cum excepturi blanditiis aut odio inventore consectetur numquam ipsam possimus dolores nostrum cupiditate assumenda cumque magni, soluta vitae sit libero voluptate qui accusantium fuga. Debitis cupiditate ex nulla voluptatum?
    Doloremque, unde, aspernatur dolorem accusantium est nemo repudiandae excepturi reiciendis commodi minima modi debitis maxime vel ratione velit doloribus cum tenetur saepe aut in? Accusantium eos quod quibusdam sapiente! Ab.
    Facere, voluptas corrupti? Blanditiis suscipit adipisci ab ducimus impedit voluptate at! Quis veritatis repellat aperiam eveniet ipsam. Quo sequi sapiente libero neque, consequuntur repellendus blanditiis dicta, commodi laudantium, possimus alias?
    Fuga illum debitis, porro eaque rerum provident aliquam itaque officiis similique eveniet voluptatem modi fugiat repellendus commodi, hic adipisci nesciunt, eius quae! Debitis ut placeat dicta facilis officiis praesentium reiciendis.
    Sed nisi aperiam iusto a voluptatibus quasi sequi culpa officia, veniam vel corrupti aut dolor nam animi delectus accusantium eveniet. Quam laudantium rem atque totam aliquid tenetur non molestias voluptatum.
    Vitae quaerat sunt quod nobis labore impedit et nesciunt ipsum quia cupiditate laudantium assumenda, harum commodi voluptatibus unde deserunt magni accusantium quasi? Aut esse repellat asperiores eum doloremque maiores qui.
    Voluptatibus cum architecto, non unde, tempore maiores veritatis natus eius totam accusantium modi minima eaque harum reprehenderit, delectus sunt assumenda? Expedita adipisci veniam sit natus, non minus fugit vel! Quisquam?
    Eligendi, accusamus earum asperiores eaque culpa eum ad nam at aliquam inventore fugit laudantium facilis corrupti voluptatibus excepturi quos, in tempore, placeat atque commodi. Molestias, id! Placeat, corporis eos. Molestiae.
    Exercitationem delectus sunt cupiditate assumenda perferendis deserunt hic eius ipsam ut, magnam ullam deleniti tempore eligendi autem aspernatur distinctio accusantium. Nemo porro recusandae beatae officia facilis, dicta molestias nam itaque.
    Fugit nemo ratione quibusdam, facilis maxime, voluptatibus rerum repellat atque labore ducimus modi laborum repellendus et earum tempore odio suscipit minus! Accusamus non libero molestiae. Aliquid earum a quaerat soluta.
    Illum ducimus sit repudiandae doloribus quam natus. Quas obcaecati quibusdam earum ullam aut perferendis quisquam, odit illo. Impedit recusandae debitis esse est consequuntur ex eos laboriosam nobis porro necessitatibus! Nostrum?
    Enim harum placeat tenetur maxime iste libero assumenda ipsam exercitationem reprehenderit sunt cumque obcaecati ad, praesentium veritatis voluptate! Cupiditate commodi non soluta facere at sit sint tempora aut accusantium odit?
    Nulla ratione cum delectus, veritatis autem eos, odio iure aliquid facilis odit amet itaque perferendis excepturi illo unde ducimus sunt rem voluptatum reprehenderit placeat! Quae sunt aspernatur repellendus cum distinctio!</p>
</body>
</html>